<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Tabs | XMPro </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="Tabs | XMPro ">
      <meta name="description" content="XMPro official documentation - Learn how to use XMPro&#39;s intelligent digital twin suite for real-time operational intelligence and automated decision-making.">
      
      <link rel="icon" href="../../../images/favicon.png">
      <link rel="stylesheet" href="../../../public/docfx.min.css">
      <link rel="stylesheet" href="../../../public/main.css">
      <meta name="docfx:navrel" content="../../../toc.html">
      <meta name="docfx:tocrel" content="../../toc.html">
      
      <meta name="docfx:rel" content="../../../">
      
      
      <meta name="docfx:docurl" content="https://xmpro.visualstudio.com/XMPro%20Development/_git/xmpro-development?path=docs/src/blocks-toolbox/layout/tabs.md&amp;version=GB21980-cherry-pick-to-release-4.5.4&amp;line=1">
      <meta name="loc:inThisArticle" content="In this article">
      <meta name="loc:searchResultsCount" content="{count} results for &quot;{query}&quot;">
      <meta name="loc:searchNoResults" content="No results for &quot;{query}&quot;">
      <meta name="loc:tocFilter" content="Filter by title">
      <meta name="loc:nextArticle" content="Next">
      <meta name="loc:prevArticle" content="Previous">
      <meta name="loc:themeLight" content="Light">
      <meta name="loc:themeDark" content="Dark">
      <meta name="loc:themeAuto" content="Auto">
      <meta name="loc:changeTheme" content="Change theme">
      <meta name="loc:copy" content="Copy">
      <meta name="loc:downloadPdf" content="Download PDF">

      <script type="module" src="./../../../public/docfx.min.js"></script>

      <script>
        const theme = localStorage.getItem('theme') || 'auto'
        document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
      </script>

  </head>

  <body class="tex2jax_ignore" data-layout="" data-yaml-mime="">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="../../../index.html">
            <img id="logo" class="svg" src="../../../images/logo-light.png" alt="">
            
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
              <form class="search" role="search" id="search">
                <i class="bi bi-search"></i>
                <input class="form-control" id="search-query" type="search" disabled placeholder="Search" autocomplete="off" aria-label="Search">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas" aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="">
<h1 id="tabs">Tabs</h1>

<p>Tabs are Blocks that allow you to separate and view related items together. Tabs can be added or removed to the tab Block if needed. They are useful for creating sections that the user can switch between or grouping related groups into one area of the page.</p>
<p><img src="../../images/y6pglcopxd.gif" alt="Tabs overview"></p>
<h2 id="adding-a-tab">Adding a Tab</h2>
<p>To add a new Tab, select the whole tab Block or an individual Tab and click on the <em>plus</em> symbol in the top-right hand Block toolbar.</p>
<div class="NOTE">
<h5>Note</h5>
<p><a href="../../concepts/application/canvas.html#block-toolbar">See the Canvas article for more details on these controls.</a></p>
</div>
<p><img src="../../images/ovjtnjidha.gif" alt="Adding a tab"></p>
<h2 id="deleting-a-tab">Deleting a Tab</h2>
<p>To delete a Tab, select the whole Tab Block or an individual Tab and click on the <em>bin</em> symbol in the top-right hand Block toolbar.</p>
<div class="NOTE">
<h5>Note</h5>
<p><a href="../../concepts/application/canvas.html#block-toolbar">See the Canvas article for more details on these controls.</a></p>
</div>
<p><img src="../../images/e3xpp6te1g.gif" alt="Deleting a tab"></p>
<h2 id="navigating-between-tabs">Navigating Between Tabs</h2>
<p>You can navigate between the Tabs within the canvas itself. Click on each Tab to open the contents within that particular Tab.</p>
<p><img src="../../images/wouj0j6m7o.gif" alt="Navigating between tabs"></p>
<h2 id="reordering-tabs">Reordering Tabs</h2>
<p>Tabs can be reordered by clicking and dragging them to change the order. When a Tab is highlighted, hold the move icon and drag the Tab to another location within the Block.</p>
<div class="NOTE">
<h5>Note</h5>
<p><a href="../../concepts/application/canvas.html#block-toolbar">See the Canvas article for more details on these controls.</a></p>
</div>
<p><img src="../../images/6blocko6h8.gif" alt="Reordering tabs"></p>
<h2 id="tab-properties">Tab Properties</h2>
<h3 id="appearance">Appearance</h3>
<h4 id="common-properties">Common Properties</h4>
<p>Tabs have properties that are common to most Blocks: <em>visibility</em> and <em>tooltip</em>.</p>
<p><a href="../common-properties.html#appearance">See the Common Properties article for more details on common appearance properties.</a></p>
<h4 id="selected-index">Selected Index</h4>
<p>The selected index determines which tab is open by default. The index starts from 0, which means that an index of 0 refers to the first Tab, an index of 1 refers to the second Tab, and so on.</p>
<p><img src="../../images/image-1736.png" alt="Selected index property"></p>
<p><img src="../../images/image-435.png" alt="Selected index example"></p>
<h3 id="behavior">Behavior</h3>
<h4 id="common-properties-1">Common Properties</h4>
<p>The <em>disabled</em> property is common to most Blocks;</p>
<p><a href="../common-properties.html#behavior">See the Common Properties article for more details on common behavior properties.</a></p>
<h4 id="hide-tab-navigation">Hide Tab Navigation</h4>
<p>When enabled, a hidden icon appears to the left of the tab icon and name on the Canvas. The user will see the selected tab's content at runtime, but they cannot see the tabs or click on another tab.</p>
<p>The navigation between tabs is controlled by the <a href="tabs.html#selected-index">Selected Index</a> property, e.g. by an expression.</p>
<video autoplay loop muted playsinline style="max-width: 100%; height: auto;">
  <source src="../../images/tab-hide-navigate.mp4" type="video/mp4">
</video>
<div class="NOTE">
<h5>Note</h5>
<p>This is useful when a header or footer section is reused across multiple pages. For example, one page is used in three different drill-down scenarios. The top one-third differs based on the drill-down type and the bottom two-thirds is the same for all scenarios.</p>
<p>Rather than cloning the page and maintaining all three, place the top one-third in a Tab Block - and set the Selected Index to a parameter passed from the previous page to control which tab's content is shown.</p>
</div>
<h3 id="data-source">Data Source</h3>
<h4 id="common-properties-2">Common Properties</h4>
<p>Tabs have properties that are common to most Blocks: filter, sort, show # of results, and skip # of results;</p>
<p><a href="../common-properties.html#data-source">See the Common Properties article for more details on common Data Source properties.</a></p>
<h2 id="tab-item-properties">Tab Item Properties</h2>
<h3 id="appearance-1">Appearance</h3>
<h4 id="title-and-icon">Title and Icon</h4>
<p>Each Tab has a heading that labels that particular tab section. An icon can also be added for visual purposes.</p>


  <div class="last-modified">
    <hr />
    <p><small><em>Last modified: October 30, 2025</em></small></p>
  </div>
</article>



      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    <div class="container-xxl search-results" id="search-results"></div>

    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          Copyright © 2025 XMPro. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
